<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.paasit.pai.core.empImport">
    <delete id="EmpImportF02SQL01"
            parameterType="com.paasit.pai.core.sql.dto.empImport.EmpImportF02SQLIM01" >
        <foreach collection="emporgList" item="item" index="index" separator=";">
            DELETE FROM
            organizationObj_employeeObj_0238D_Relation
            WHERE
            id = #{item.id, jdbcType=VARCHAR}
        </foreach>
    </delete>
</mapper>
